h1{
    justify-content: center;
    text-align: center;
    display: block;
    font-size: xx-large;
    font-style: italic;
background-color:#243642;
    border-block-end-style: dashed;
    color: white;
}
