input{
    
    justify-content: center;
    text-align: center;
    display:block;
    margin-left: 42.5%;
    margin-top: 20px;
font-style: italic;
height: 40px;
width: 200px;
}
button{
    justify-content: center;
    text-align: center;
    display:block;
    margin-left: 47.5%;
    margin-top: 10px;
    height: 25px;
    
    
}
button:hover{
    background-color: rgb(219, 150, 150);
}
.abc{
    background-color: #387478;
}
